.login {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
  }
  .containers{
    max-width: 400px;
    text-align: center;
    margin-top: 90px;

    margin: 0 auto;
  }
  .header__logo:hover{
    color: white;
    transition: all .3s;
   }
   .header__logo{
    font-size: 32px;
    color: #d3d3d3;

   }
   .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 60px;
    width: 520px;
    margin-bottom: 80px;
  }
  .conts{
    color: aliceblue;
    font-family: sans-serif;
    font-size: 24px;
    
    text-align: start;
    margin-top: 8px;
  }
  form {
    background-color: #fcd0a1;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #de5959;
  }
  
  .infos[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #de5959;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #b54141;
  }
  
  #limpar {
    background-color: #fcb13e;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #limpar:hover {
    background-color: #c78d35;
  }
  input{
    width: 250px;
    height: 50px;
  }
  .mario {
    width: 5px;
    height: 5px;
    position: relative;
    left: 100px;
    box-shadow: 0px 0px 0px transparent, 130px 5px #ffa500, 135px 5px #ffa500,
  140px 5px #ffa500, 95px 10px #de4513, 100px 10px #de4513, 105px 10px #de4513,
  110px 10px #de4513, 115px 10px #de4513, 130px 10px #ffa500,
  135px 10px #ffa500, 140px 10px #ffa500, 90px 15px #de4513, 95px 15px #de4513,
  100px 15px #de4513, 105px 15px #de4513, 110px 15px #de4513,
  115px 15px #de4513, 120px 15px #de4513, 125px 15px #de4513,
  130px 15px hsl(15, 84%, 47%), 135px 15px #ffa500, 140px 15px #ffa500,
  90px 20px #a52a2a, 95px 20px #a52a2a, 100px 20px #a52a2a, 105px 20px #ffa500,
  110px 20px #ffa500, 115px 20px #000, 120px 20px #ffa500, 130px 20px #4545bb,
  135px 20px #4545bb, 140px 20px #4545bb, 85px 25px #a52a2a, 90px 25px #ffa500,
  95px 25px #a52a2a, 100px 25px #ffa500, 105px 25px #ffa500,
  110px 25px #ffa500, 115px 25px #000, 120px 25px #ffa500, 125px 25px #ffa500,
  130px 25px #4545bb, 135px 25px #4545bb, 140px 25px #4545bb,
  85px 30px #a52a2a, 90px 30px #ffa500, 95px 30px #a52a2a, 100px 30px #a52a2a,
  105px 30px #ffa500, 110px 30px #ffa500, 115px 30px #ffa500,
  120px 30px #a52a2a, 125px 30px #ffa500, 130px 30px #ffa500,
  135px 30px #ffa500, 140px 30px #4545bb, 85px 35px #a52a2a, 90px 35px #a52a2a,
  95px 35px #ffa500, 100px 35px #ffa500, 105px 35px #ffa500,
  110px 35px #ffa500, 115px 35px #a52a2a, 120px 35px #a52a2a,
  125px 35px #a52a2a, 130px 35px #a52a2a, 135px 35px #a52a2a,
  95px 40px #ffa500, 100px 40px #ffa500, 105px 40px #ffa500,
  110px 40px #ffa500, 115px 40px #ffa500, 120px 40px #ffa500,
  125px 40px #ffa500, 130px 40px #4545bb, 75px 45px #4545bb, 80px 45px #4545bb,
  85px 45px #4545bb, 90px 45px #4545bb, 95px 45px #4545bb, 100px 45px #de4513,
  105px 45px #4545bb, 110px 45px #4545bb, 115px 45px #4545bb,
  120px 45px #de4513, 125px 45px #4545bb, 70px 50px #4545bb, 75px 50px #4545bb,
  80px 50px #4545bb, 85px 50px #4545bb, 90px 50px #4545bb, 95px 50px #4545bb,
  100px 50px #4545bb, 105px 50px #de4513, 110px 50px #4545bb,
  115px 50px #4545bb, 120px 50px #4545bb, 125px 50px #de4513, 140px 50px #000,
  65px 55px #ffa500, 70px 55px #ffa500, 75px 55px #4545bb, 80px 55px #4545bb,
  85px 55px #4545bb, 90px 55px #4545bb, 95px 55px #4545bb, 100px 55px #4545bb,
  105px 55px #de4513, 110px 55px #de4513, 115px 55px #de4513,
  120px 55px #de4513, 125px 55px #de4513, 140px 55px #000, 65px 60px #ffa500,
  70px 60px #ffa500, 75px 60px #ffa500, 85px 60px #de4513, 90px 60px #de4513,
  95px 60px #4545bb, 100px 60px #de4513, 105px 60px #de4513, 110px 60px #ff0,
  115px 60px #de4513, 120px 60px #de4513, 125px 60px #ff0, 130px 60px #de4513,
  135px 60px #000, 140px 60px #000, 70px 65px #ffa500, 80px 65px #000,
  85px 65px #de4513, 90px 65px #de4513, 95px 65px #de4513, 100px 65px #de4513,
  105px 65px #de4513, 110px 65px #de4513, 115px 65px #de4513,
  120px 65px #de4513, 125px 65px #de4513, 130px 65px #de4513, 135px 65px #000,
  140px 65px #000, 75px 70px #000, 80px 70px #000, 85px 70px #000,
  90px 70px #de4513, 95px 70px #de4513, 100px 70px #de4513, 105px 70px #de4513,
  110px 70px #de4513, 115px 70px #de4513, 120px 70px #de4513,
  125px 70px #de4513, 130px 70px #de4513, 135px 70px #000, 140px 70px #000,
  70px 75px #000, 75px 75px #000, 80px 75px #000, 85px 75px #de4513,
  90px 75px #de4513, 95px 75px #de4513, 100px 75px #de4513, 105px 75px #de4513,
  110px 75px #de4513, 115px 75px #de4513, 70px 80px #000, 85px 80px #de4513,
  90px 80px #de4513, 95px 80px #de4513;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
  }
  .icons img{
    border-radius: 100%;
    height: 100%;
    width: 120%;
  }
  .icons {
    border-radius: 100%;
    height: 80px;
    
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
  
  .input-container {
    height: 40px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 20px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 40px;
    outline: 0;
    padding: 4px 10px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 10px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 30px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;

  }
  
  .submit:active {
    background-color: #06b;
  }
  
   *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   body{
    font-family: sans-serif;
   }
   .header__link{
    margin-left: 27px;
    font-size: 28px;
    color: #d3d3d3;
   }
   .header__link:hover{
    color: white;
    transition: all .3s;
   }
   a{
    color: inherit;
    text-decoration: none;
   }
   .header{
    background-color: rgb(219, 54, 54);
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    align-items: center;
   }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 300px;
    flex-direction: column;
    gap: 35px;
    background: #e3e3e3;
    box-shadow: 16px 16px 32px #c8c8c8,
          -16px -16px 32px #fefefe;
    border-radius: 8px;
  }
  
  .inputBox {
    position: relative;
    width: 250px;
  }
  
  .inputBox input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
  }
  
  .inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
  }
  
  .inputBox input:valid~span,
  .inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBox input:valid,
  .inputBox input:focus {
    border: 2px solid #000;
    border-radius: 8px;
  }
  
  .enter {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 1em;
  }
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px
  }
  
  .login-box a:hover {
    background: #fff;
    color: #272727;
    border-radius: 5px;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1.5s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
  
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
  
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
  
    50%,100% {
      bottom: 100%;
    }
  }
  
  .login-box p:last-child {
    color: #aaa;
    font-size: 14px;
  }
  
  .login-box a.a2 {
    color: #fff;
    text-decoration: none;
  }
  
  .login-box a.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
  }
  
  .enter:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  